@model IEnumerable<AplicacaoWebCantina.Models.Estoque.EstoqueModel>

@{
    ViewData["Title"] = "Estoque";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Produto ID</th>
            <th>Nome</th>
            <th>Quantidade Atual</th>
            <th>Quantidade Mínima</th>
            <th>Data Última Reposição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.ProdutoId</td>
                <td>@item.Produto?.Nome</td>
                <td>@item.QuantidadeAtual</td>
                <td>@item.QuantidadeMinima</td>
                <td>@item.DataUltimaReposicao.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="@Url.Action("Edit", "Estoque", new { id = item.ID })" class="btn btn-primary">Editar</a>
                </td>



                <td>
                    <a href="@Url.Action("Create", "Produto")" class="btn btn-primary">Adicionar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
